@charset "UTF-8";

body {
    font-family: 'Nanum Gothic', sans-serif;
}

ol, ul {
    list-style: none;
}

body, ol, ul {
    padding: 0;
    margin: 0;
}

.header {
    /*position: fixed; 스크롤시 고정시켜야함*/
    height: 66px;
    /*background-attachment: fixed;*/
    background: url("../image/logo.png") no-repeat 0 0;
    background-position: 20%;
    background-color: rgb(64, 64, 64);
    opacity: 0.75;
    z-index: 0;
}

.foodwith {
    position: absolute;
    left: 310px;
    margin-top: 20px;
    width: 120px;
    height: 30px;
}

.invite__wrap {
    position: relative;
    width: 100%;
    height: 750px;
    margin: 0 auto;
    background: url("../image/section_invite.jpg") no-repeat 0 0;
    background-position: center;
    background-color: #fff;
}

.creator__wrap {
    position: relative;
    width: 100%;
    height: 822px;
    margin: 0 auto;
    background: url("../image/section_creator.jpg") no-repeat 0 0;
    background-position: center;
    background-color: #f9939d;
}

.store__wrap {
    position: relative;
    width: 100%;
    height: 1084px;
    margin: 0 auto;
    background: url("../image/section_store.jpg") no-repeat 0 0;
    background-position: center;
    background-color: #d5e43f;
}

.store__discount_rate {
    /*
    position:absolute;
    top: 290px;
    */
    width: 980px;
}

.first__row, .second__row {
    display: flex;
}

.first__row {
    position: absolute;
    top: 290px;
    left: 360px;
}

.second__row {
    position: absolute;
    /*top: 370px;*/ /*230+140*/
    top: 660px;
    left: 360px;
}

.each_discount_rate {
    margin-right: 20px;
    text-align: center;
    /* 한줄 말줄임도 넣어주기 */
}

.each_discount_rate > a {
    width: 230px;
    height: 230px;
}
.each_discount_rate > a > img {
    width: 230px;
    height: 230px;
    border-radius: 10px;
}

.discount {
    position: absolute;
    text-align: center;
    top: 20px;
    opacity: 0;
}

.discount__rate {
    font-size: 65px;
    color: #fff;
}

.discount__time {
    margin-top: 0px;
    font-size: 20px;
    color: #fff;
}

.product__name, .won {
    margin-top: 20px;
    font-size: 20px;
    color: #1b1d21;
}

.product__price {
    margin-top: 5px;
    font-size: 28px;
    font-weight: bold;
}

.recipe__wrap {
    position: relative;
    width: 100%;
    height: 1030px;
    margin: 0 auto;
    background-image: url("../image/section_recipe.png"), url("../image/pattern_recipe.png"),
                        url("../image/go_recipe.gif");
    background-repeat: no-repeat, repeat-x, no-repeat;
    background-position: 50% 30%, center, 50% 90%;
    background-color: #b893f9;
}

.view__recipe {
    position: absolute;
    left: 690px;
    bottom: 93px;
    width: 310px;
    height: 91px;
}

.no_oven_straw {
    position: absolute;
    width: 480px;
    height: 482px;
    left: 355px;
    top: 304px;
}

.banana_pudding {
    position: absolute;
    width: 480px;
    height: 482px;
    top: 304px;
    left: 855px;
}

.view__recipe:hover {
    background: url("../image/go_recipe_over.gif");
}

.recipe__wrap {
    position: relative;
    width: 100%;
    height: 1030px;
    margin: 0 auto;
    background-image: url("../image/section_recipe.png"), url("../image/pattern_recipe.png"),
                        url("../image/go_recipe.gif");
    background-repeat: no-repeat, repeat-x, no-repeat;
    background-position: 50% 30%, center, 50% 90%;
    background-color: #b893f9;
}

.faq__wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-image: url("../image/title_faq.gif");
    background-repeat: no-repeat;
    background-color: #fff;
}

.faq__container {
    margin-top: 20px;
}
.invite__blind, .creator__blind, .store__blind, .discount, .recipe__blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}